{% load  static%}
<!DOCTYPE HTML>
<html>

<head>
<title>Voidmain</title>
<link rel="stylesheet" type="text/css" href="{% static '/style/style.css'%}" title="style" />
</head>

<body>
	<div id="main">
		<div id="header">
			<div id="logo">
				<div id="logo_text">
					<!-- class="logo_colour", allows you to change the colour of the text -->
					<h3>
						<a href="#"><font color="white">Court Case Management</font></a>
					</h3>
					<br/><br/>
				</div>
			</div>
			<div id="menubar">
				<ul id="menu">

                    {% if request.session.role in "client" or request.session.role in "admin" %}
                         <li><a href="/getlawyers">Lawyers</a></li>
                    {% endif %}

                    <li><a href="/getcases">Cases</a></li>

                    {% if request.session.role in "client" or request.session.role in "lawyer" %}
                         <li><a href="/getappointments">Appointments</a></li>
                    {% endif %}

                    <li><a href="/logout">logout</a></li>

				</ul>
			</div>
		</div>
		<div id="content_header"></div>
		<div id="site_content">

            <div id="content">
				
				<h1>Welcome to  <strong>{{request.session.username}}</strong>{{form.non_field_errors}}</h1>

                <h1>Status : {{message}}</h1>

				<table style="width: 100%; border-spacing: 0;" border="1">

                    <tr>

                        <td>Case ID</td>
                        <td>Title</td>
						<td>Category</td>
                        <td>Description</td>
                        <td>Last Hearing on</td>
                        <td>Next Hearing on</td>
                        <td>Client ID</td>
                        <td>Lawyer ID</td>
                        <td>Posted on</td>
                        <td>Case Status</td>
                        <td>Lawyer Acceptance</td>

                         <td>Documents</td>

                        {% if request.session.role in "lawyer" %}
                            <td>A/R</td>
                            <td>Upload</td>
                        {% endif %}

                        {% if request.session.role in "lawyer" or request.session.role in "admin" %}
                            <td>update</td>
                        {% endif %}

                        {% if request.session.role in "admin" or request.session.role in "client" %}
                            <td>delete</td>
                        {% endif %}



					</tr>
					{% for case in cases %}

                        <tr>

                            <td>{{ case.id}}</td>
                            <td>{{ case.title}}</td>
                            <td>{{ case.category}}</td>
                            <td>{{ case.description}}</td>
                            <td>{{ case.lasthearingdate}}</td>
                            <td>{{ case.nexthearingdate}}</td>
                            <td>{{ case.clientid}}</td>
                            <td>{{ case.lawyerid}}</td>
                            <td>{{ case.postedon}}</td>
                            <td>{{ case.casestatus}}</td>
                            <td>{{ case.lawyeracceptance}}</td>

                            <td><a href="/getdocuments?caseid={{ case.id}}">documents</a></td>

                            {% if request.session.role in "lawyer" and case.lawyeracceptance in "no" %}
                                <td><a href="/acceptorrejectcase?caseid={{ case.id}}&lawyerstatus=yes">Accept</a></td>
                            {% endif %}

                            {% if request.session.role in "lawyer" %}
                                <td><a href="/uploaddocument/?caseid={{ case.id}}">upload</a></td>
                            {% endif %}

                            {% if request.session.role in "lawyer" and case.lawyeracceptance in "yes" %}
                                <td><a href="/acceptorrejectcase?caseid={{ case.id}}&lawyerstatus=no">Reject</a></td>
                            {% endif %}

                             {% if request.session.role in "lawyer" or request.session.role in "admin" %}
                                <td><a href="/updatecase?caseid={{ case.id}}">Update</a></td>
                            {% endif %}

                            {% if request.session.role in "admin" or request.session.role in "client" %}
                                <td><a href="/deleteCase?caseid={{ case.id}}">Delete</a></td>
                            {% endif %}

					    </tr>

					{% endfor %}

  				</table>
			</div>
		</div>
	</div>
</body>
</html>

